* {
    margin: 0;
}

header {
    padding: 60px 20px;
    margin-top: 10px;
    background-color: #090909;
    color: #D3FFE9;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 62pt;
}

body{

    background-color: #9BC4BC;
}

.contenedor {

    background-color: #9BC4BC;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 1200px;
    width: 100%;
}

.item {
    display: flex;
    flex-flow: wrap;
    
    height: 320px;
    width: 300px;
    border: 1px solid #090909;
    margin: 1em 1em;
}
.item:hover {
    position:sticky;
    transition: transform 0.6s;
    transform: scale(1.1) translateY(-20px);
    box-shadow: 0px 20px 18px rgba(0,0,0,0.25);
}

#info {

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #090909;
    background-color: #D3FFE9;
    text-transform: uppercase;
    font-size: 25pt;
    
    display: flex;
    align-items: center;
    writing-mode:sideways-lr;
}

.item1 {

    background-image: url(./flex-img/Nemocon.jpg);
    background-size: cover;
        
} 
.item2
{

    background-image: url(./flex-img/elTuparro.jpg);
    background-size: cover;
} 
.item3 {

    background-image: url(./flex-img/puntaGallinas.png);
    background-size: cover;
} 
.item4 {

    background-image: url(./flex-img/cano_cristales.png);
    background-size: cover;
}
.item5 {

    background-image: url(./flex-img/reservaRioClaro.png);
    background-size: cover;
} 
.item6 {

    background-image: url(./flex-img/cerroAzul.jpg);
    background-size: cover;
} 
.item7 {

    background-image: url(./flex-img/desiertodelaTatacoa.png);
    background-size: cover;
}
.item8 {

    background-image: url(./flex-img/puertos_narino.png);
    background-size: cover;
}
.item9 {

    background-image: url(./flex-img/las-lajas.png);
    background-size: cover;
} 
.item10 {

    background-image: url(./flex-img/ballenas-jorobadas.png);
    background-size: cover;
} 
.item11 {

    background-image: url(./flex-img/Los_Estoraques_Norte_de_Santander_Colombia_by_Edgar.png);
    background-size: cover;
} 
.item12 {

    background-image: url(./flex-img/sierra_nevada_sta_marta.png);
    background-size: cover;
}

